/*NAVBAR*/
:root {
  --primary-color: #0038b1;
  --primary-color-hover: #1a59e0;
  --secondary-color: #64696f;
  --secondary-color-with-opacity: #bab4e21f;
  --background-color: #ebebf2;
  --mobile-background-color: #0b7abf;
  --mobile-text-link: #e5e5ec;
  --background-color-hover: #e5e5ec;
  --container-background-color: #fff;
  --green: rgba(60, 179, 113, .9);
  --yellow: #ffce56;
  --red: #ee315a;
  --text: #9792c7;
  --white: #fff;
  --black: #353535;
  --header-page: #0b7abf;
  --blue : #36a2eb;
  --avatar-size: 45px;
}
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

* {
  padding: 0;
  margin: 0;
  
}
body {
    margin: 0 auto;
}
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 2px;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(19, 67, 126)),
									   color-stop(0.86, rgb(28,58,148)));
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 1px;
  }

}


.container {
  display: flex;
  width:1440px;
  background: honeydew;
}

label {
  font-weight: bold;
  display: flex;
  margin: 0;
  margin-bottom: 6px;
  font-size: 1rem;

}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  display: block;
  width: 325px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #222;
  background-color: #fafafa;
  background-image: none;
  border: 1px solid grey;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

select {
  padding: 12px 12px;
  width: 350px;
}


.form-control {
  margin-bottom: 15px;

}

.error {
  color: red;
  font-size: .9rem;
}


.invalid-input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.btnLoading {
  /* font-size: 15px !important; */
  background-color: gray !important;
  border: 1px solid gray !important;
}
.btnLoading:hover {
  cursor: not-allowed;
  color: #fff !important;
}

.table-control {
  margin: 25px 0;
  display: flex;
  color: #9792c7;
  /* background-color: wheat; */
  align-items: center;
  justify-content: space-between;

}

.table-control .limit {
  display: flex;
  align-items: center;
  font-size: 13.5px;
}

.table-control select {
  width: 65px;
  outline: none;
  border: none;
  background-color: #fcfcfc;
  margin: 0 5px;
  
}

.table-control .search input {
  width: 250px;
  height: 15px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  margin-left: -50px;
  border-bottom: 1.5px solid var(--primary-color)
}

.pagination {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 50px; */
}

.pagination .pagination-info {
  font-size: 13px;
  color: #9792c7;
}

.pagination .pagination-control {
  display: flex;
}

.pagination .pagination-control a, button {
  display: inline-block;
  padding: 7px 10px;
  color: #9792c7;
  font-size: 13px;
  /* padding: 8px 16px; */
  text-decoration: none;
  transition: background-color .3s;
  background: none;
  border: none;
  outline: none;
}
.pagination .pagination-control a:hover, button:hover {
  cursor: pointer;
}

.pagination a.active {
  background-color: var(--primary-color);
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  font-size: 12px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  background-color: #48c774;
  cursor: pointer;
  text-decoration: none;
}

.add-button:hover{
  background-color: #00e14f;

}
.edit-delete-wrapper{
  display: flex;

}
.edit-button{
  display: inline-block;
  margin-right: 2px;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  background-color: #076ece;
}

.edit-button:hover {
  background-color: #2f96eb;
}
.delete-button{
  border-radius: 5px;
  margin-left: 2px;
  font-size: 12px;
  color: white;
  background-color: #dc3545;

}

.delete-button:hover {
  background-color: #FF4136;  
}


.text-small {
  font-size: 13px;
  font-weight: 400;
  color: #acacac;
  letter-spacing: -.2px;
}

.border-right {
  border-right: 2px solid #acacac;
}

.text-big {
  font-size: 28px;
  font-weight: bold;
}

.text-big span {
  font-size: 13px;
  font-weight: 400;
}


.info-halaman {
  /* background-color: aqua; */
  display: flex;
  align-items: flex-end;
}


.info-halaman .info-waktu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.info-halaman h3 {
  font-size: 24px;
}

.info-waktu p {
  padding-left: 20px;
}


.slide-container {
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    /* background-color: #aaa; */
  width: 100%;
  box-sizing: border-box;

}
.slide-wrapper {
  
  padding-top: 20px !important;
  padding-bottom: 25px !important;
  padding-left: 50px !important;


}


.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 7px;
  background-color: var(--white);
  height: 75px !important;
  width: 65px !important;
  border: 2px solid var(--black) !important;
}

.slide-item p {
  color: var(--black) !important;
}

.slide-item:first-child p, .slide-item:nth-child(2) p, .slide-item:nth-child(3) p {
  color: var(--white) !important;
  font-weight: bold;
  
}
.slide-item:first-child img, .slide-item:nth-child(2) img, .slide-item:nth-child(3) img {
  border: 3px solid var(--white);
}
.slide-item:first-child {
  background-color: var(--primary-color) !important;
  border: 2px solid var(--primary-color) !important;
  
}
.slide-item:nth-child(2) {
  background-color: var(--green) !important;
  border: 2px solid var(--green) !important;
}
.slide-item:nth-child(3) {
  background-color: var(--yellow) !important;
  border: 2px solid var(--yellow) !important;
  
}



.slide-item img {
  width: 45px;
  height: 45px;
  /* margin-left: 15px; */
  user-select: none;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid var(--secondary-color);
  padding: 3px;
}

.slide-item h3{
  font-size: 16px;
  color: var(--text);
  margin-left: 5px;
  margin-bottom: 10px;

}
.slide-item p {
  font-size: 12px;
  color: var(--text);
  /* margin-left: 15px; */

}

.slide-item img.first, .slide-item img.second, .slide-item img.third {
  border: 3px solid var(--white);
}

.slide-item p.first, .slide-item p.second, .slide-item p.third {
  color: var(--white);
}

.avatar-group {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hidden-avatars {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  background-color: var(--black);
  border: 2px solid var(--black);
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -15px;
  margin-left: 3px;
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--black);
  margin-left: -20px;
  position: relative;
  cursor: pointer;
  transition: transform .3s ease;
}
.small-avatar {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--black);
  position: relative;
  cursor: pointer;
  transition: transform .3s ease;
}
.small-avatar img {
  width: 35px;
  height: 35px;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 50%; 

}
.avatar:hover:not(:last-of-type) {
  transform: translate(10px);
}
.avatar img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  padding: 3px;
  box-sizing: border-box;
  border-radius: 50%; 

}

.wrapper-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.wrapper-list::-webkit-scrollbar {
  width: 3px;
}
.wrapper-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 0;
}

.ringkasan-list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--background-color);
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.ringkasan-list h2 {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  width: 50px;
  height: 50px;
  background-color: var(--black);
  border-radius: 50%;
}
.ringkasan-list .detail-list {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.detail-list div {
  width: 75px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  margin: 0 5px;
}

.detail-list h4 {
  font-size: 22px;
  color: var(--black);
}

.detail-list p {
  box-sizing: border-box;
  padding: 3px 5px;
  font-size: 11px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
}

.umum-jumlah p {
  background-color: var(--blue);

}

.operasional-jumlah p {
  background-color: var(--green);

}

.keuangan-jumlah p {
  background-color: var(--yellow);
  color: var(--black);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 8px;
  cursor: pointer;
  max-width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--background-color);
}

.list-item:hover {
  background-color: var(--background-color);
}

.list-info {
  margin-left: 8px;
}
.list-info h4 {
  font-size: 14px;
}
.list-info p {
  font-size: 12px;
  color: var(--black);
}

.list-info p span {
  font-size: 10px;
}

.list-right-info {
  margin-left: auto;
  margin-right: 8px;
  font-size: 11px;
  color: red;
}

.modal-container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; */
  position: relative;
}

.modal-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 45px;
  max-width: 100%;
  align-items: center;
  background-color: var(--green);
  padding: 15px;
  padding-right: 10px;
  box-sizing: border-box;

}
.modal-header .modal-title {
  color: var(--white);
  font-size: 17px;
}

.modal-header .close-modal {
  /* width: 30px; */
  /* height: 30px; */
  padding: 5px 10px;
  
  /* margin-right: 10px; */
  /* background-color: var(--red); */
  border-radius: 50%;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
}

.modal-header .close-modal:hover {
  background-color: var(--red);
  
}

.modal-body {
  /* background-color: var(--secondary-color); */

  /* grid-template-columns: repeat(auto-fit, 100px); */
  
  /* display: block; */

  /* margin-top: 50px; */
  /* width: 100%; */
  padding: 20px 0;
  
}

.modal-footer {
  width: 100%;
  height: 50px;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 15px;
  /* padding-right: 45px; */
  box-sizing: border-box;
  background-color: var(--white);
  border-top: 1px solid var(--white)
}

.form-row {

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}